<div class="container">
  <div class="col-12">
    <h2 class="pb-2 border-bottom">Saque</h2>
  </div>
  <div class="col-12">
    <form [formGroup]="sacarForm" (ngSubmit)="sacar()">
      <div class="col">
        <div class="mb-3" >
          <label  for="agencia" class="form-label">Agência</label>
          <input type="text" class="form-control" id="nome" formControlName="agencia">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="numeroConta" class="form-label">Número da Conta</label>
          <input type="text" class="form-control" id="nome" formControlName="numeroConta">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="valor" class="form-label">Valor</label>
          <input type="text" class="form-control" id="nome" formControlName="valor">
        </div>
      </div>
      <div class="col mb-12">
        <button type="submit" class="btn mb-2 col-3 btn-primary" [disabled]="!sacarForm.valid">
          Sacar
        </button>
      </div>
    </form>
  </div>

